<th:block th:fragment="postModalFragment" xmlns:th="http://www.w3.org/1999/html">
    <div class="modal" id="postModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">게시글 등록</h5>
                </div>
                <div class="modal-body">
                    <label for="postUsername">사용자 이름:</label>
                    <input type="text" id="postUsername" name="username" class="form-control">
                    <label for="postUserPassword">비밀번호:</label>
                    <input type="password" id="postUserPassword" name="password" class="form-control">
                    <label for="postTitle">게시글 제목:</label>
                    <input type="text" id="postTitle" name="postTitle" class="form-control">
                    <label for="postBody">게시글 내용:</label>
                    <textarea id="postBody" name="postBody" class="form-control"></textarea>

                    <label for="hashtags">해시태그(최대 5개):</label>
                    <div id="hashtags">
                        <!-- The first hashtag input field -->
                        <input type="text" class="form-control mt-1" placeholder="해시태그 입력">
                    </div>
                    <button class="btn btn-outline-secondary mt-1" type="button" onclick="addHashtagInput()">추가</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="registerPost()">등록</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeAndClearPostModal()">
                        닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>